<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Notifications (Android 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- WorkManager requires RECEIVE_BOOT_COMPLETED to reschedule on reboot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".ToDoApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToDoList">

        <!-- Launcher Activity -->
        <activity
            android:name=".presentation.home.HomeActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.addedit.AddEditActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".presentation.home.HomeActivity" />

        <activity
            android:name=".presentation.search.SearchActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".presentation.home.HomeActivity" />

        <activity
            android:name=".presentation.settings.SettingsActivity"
            android:exported="false"
            android:label="@string/title_settings"
            android:parentActivityName=".presentation.home.HomeActivity" />

    </application>

</manifest>
